<div class="background" style="
  background-image: url('assets/images/wallpapers/dark-grunge-wall.jpg')
">

  <button type="button" class="btn btn-default" (click)="messagesAppModal.show()">Open Messages App</button>

  <ngx-modal-window #messagesAppModal class="messages-app-modal" [backdrop]="false" [maximizable]="true">
    <ng-container class="app-modal-header toolbar toolbar-header">Messages</ng-container>
    <ng-container class="app-modal-body">
      <div
        style="
          display: block;
          height: 100%;
          width: 100%;
        ">
      <app-messages-app
        style="
          display: block;
          height: 100%;
          width: 100%;
        "></app-messages-app>
      </div>
    </ng-container>
  </ngx-modal-window>

</div>
