

<header class="toolbar toolbar-header">

  <div class="toolbar-actions">
    <div class="btn-group">
      <button class="btn btn-default">
        <span class="icon icon-home"></span>
      </button>
      <button class="btn btn-default">
        <span class="icon icon-folder"></span>
      </button>
      <button class="btn btn-default"
        [ngClass]="{
          'active': messagesAppModal.visible
        }"
        (click)="messagesAppModal.visible ? messagesAppModal.hide() : messagesAppModal.show()">
        <span class="icon icon-chat"></span>
      </button>
    </div>

    <div class="btn-group pull-right">
      <button class="btn btn-default" (click)="notificationsPanel.visibleStatus ? notificationsPanel.hide() : notificationsPanel.show()">
        <span class="icon icon-bell"></span>
      </button>
      <button class="btn btn-default">
        <span class="icon icon-cog"></span>
      </button>
    </div>
  </div>
</header>
